/*Font*/
th {
    color: #CA3433;
    font-family: bahnschrift;
    font-size: 20px;
}

td, th {
    padding: 5px;
}

h1 {
    color: #CA3433;
    font-family: bahnschrift;
    font-size: 50px;
}

/*Img*/
img {
    width: 300px;
}

/*Page*/

html, body {
    margin: 0;
    padding: 0;
}

.login {
    margin: auto;
    width: 75%;
    padding: 10px;
    margin-top: 50px;
}

.ATdisplay{
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
}

.loginTable {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
}

table {
    margin: auto;
}

input{
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 5px 8px #dfdfdf;
    width: 300px;
    height: 25px;
}

button{
    background-color: #CA3433;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-family: bahnschrift;
    font-weight: bold;
    width: 75px;
    height: 30px;
}