/*Text*/
.displayedHours {
    color: #757575;
    font-size: 50px;
    font-family: bahnschrift;
    font-weight: bold;
}
/*Image*/

/*Page*/
.editHoursTable {
    text-align: left;
    padding: 10px;
}

.leftSide {
    width: 45%;
}

.rightSide {
    width: 50%;
}

.inputHrs {
    background-color: #FFFFFF;
}

.availableHrs, .workHrs, .totalHrs {
    padding: 10px;
    float: left;
    
}

/*Calendar*/